<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edit Task</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-other.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/datepicker.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pos-style.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/nprogress.css') }}">
        <link rel="shortcut icon" href="{{url_for('static', filename='ico/favicon.ico') }}">
        <script src="{{url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{url_for('static', filename='js/nprogress.js') }}"></script>

        <link rel="author" href="humans.txt">
    </head>
    <body>

		 <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  			<div class="container">
  				<a class="navbar-brand" href="/">TasKwangu</a>
  				<ul class="nav nav-pills">
			  		
			  		<li>
			  		<button type="button" onClick="window.location.href = '/tasks/'+username" class="btn buttons-top button-botton">New Task
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					</li>
					<li>
					<button type="button" onClick="window.location.href = '/allTasks/'+username" class="btn buttons-top button-botton">My Tasks
						<span class="glyphicon glyphicon-hdd"></span>
					</button>
					</li>

					<li>
					<button type="button" onClick="window.location.href = '/profile/'+username" class="btn buttons-top button-botton">Profile
						<span class="glyphicon glyphicon-user"></span>
					</button>
					</li>

					<li>
					<button type="button" onClick="window.location.href = '/'" class="btn btn-danger buttons-top button-botton">Log Out
						<span class="glyphicon glyphicon-log-out"></span>
					</button>
					</li>

					<li>
					<button type="button" onClick="window.location.href = 'https://docs.google.com/forms/d/1JNhamPDhKgxwRWDObIJ8fsfmit6JbtWL6zZRkDZcFuc/viewform?c=0&w=1&usp=mail_form_link'" class="btn btn-info buttons-top button-botton">Help Us
						<span class="glyphicon glyphicon-comment"></span>
					</button>
					</li>

				</ul>
  			</div>
		</nav>

		<div id="alert-all">
		</div>

    	<div class="middle">

    		<label><strong>Task Title </strong></label>
            <span class="glyphicon glyphicon-text-width"></span>
			<input id="taskTitle-data" type="text" value="{{task_title}}" class="form-control little" id="taskTitle" placeholder="Task Title">

			<label><strong>Task Description  </strong></label>
            <span class="glyphicon glyphicon-bookmark"></span>
			<textarea id="task-desc" placeholder="Task Description" class="form-control little" rows="3"></textarea>

			<strong>Category of Task? </strong>

			<span class="glyphicon glyphicon-tag"></span>
			<select id="category-data" value="{{task_category}}" class="form-control little">
				<option>Visa Processing</option>
				<option>Market Info</option>
				<option>Land</option>
				<option>Real Estate</option>
				<option>Other</option>
			</select>

			<div class="well little">
				<label>
					<input id="urgent-data" value="{{task_urgency}}" type="checkbox" value="High Priority">
					Task is urgent
				</label>
			</div>

			<div class="lower-space">
				<label><strong>Due Date</strong></label>
                <span class="glyphicon glyphicon-calendar"></span>
            	<input type="text" class="form-control span2" id="date-data" >
          	</div>

			<div class="well">
				<button id="add-task" type="button" class="btn buttons-top">Update Task
					<span class="glyphicon glyphicon-plus"></span>
				</button>

				<button id="clear-all" type="button" class="btn buttons-top">Clear
					<span class="glyphicon glyphicon-remove"></span>
				</button>

				<button id="delete-data" type="button" class="btn btn-danger buttons-top">Delete Task
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
    	</div>

        <script src="{{url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{url_for('static', filename='js/notify.min.js') }}"></script>
        <script src="{{url_for('static', filename='js/taskUpdate.js') }}"></script>
        <script>

        $(document).on('page:fetch',   function() { NProgress.set(0.0); });
		$(document).on('page:change',  function() { NProgress.set(1.0); });

		  $('#date-data').datepicker({
				format: 'mm-dd-yyyy'
		  });

		  var username = "{{username}}";
		  var task_id = "{{task_id}}";
		  var task_desc = "{{task_desc}}";
		  var due_date = "{{due_date}}";

		  $('#task-desc').val(task_desc);
		  $('#date-data').val(due_date);

		  console.log(username);
		  console.log(task_id);

        </script>

    </body>
</html>