<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>New Task</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="shortcut icon" href="{{url_for('static', filename='ico/favicon.ico') }}">

		<link rel="stylesheet" href="{{url_for('static', filename='css/semantic.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/nprogress.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">


		<link rel="stylesheet" href="{{url_for('static', filename='css/datepicker.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/icons.css') }}">

		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/menu-style.css') }}">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />


		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/modernizr.custom.js') }}"></script>
		<script src="{{url_for('static', filename='js/jquery.noty.packaged.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/nprogress.js') }}"></script>

	</head>

	<body>

		<div class="container">
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><a href="/tasks/{{username}}/">New task</a></li>
					<li><a href="/allTasks/{{username}}/">All Tasks</a></li>
					<li><a href="/profile/{{username}}/">Profile</a></li>
					<li><a href="/payments/{{username}}/">Payments</a></li>
					<li><a href="/logout/{{username}}/">Logout</a></li>
				</ul>
			</nav>
		</div>

		<div class="middle">

			<ul class="nav nav-pills nav-stacked">
			  <li class="active">
			    <a href="#">
			      <span id="badge-task-no" class="badge pull-right"> {{credit}} </span>
			      You Have {{credit}} credit
			    </a>
			  </li>
			</ul>

			<div class="little">
			<div class="ui four steps">
			  <div class="ui active step">
			    Shipping
			  </div>
			  <div class="ui disabled step">
			    Billing
			  </div>
			  <div class="ui disabled step">
			    Confirm Order
			  </div>
			  <div class="ui disabled step">
			    Complete
			  </div>
			</div>
			</div>

			<form class="ui fluid form">
			  <div class="field">
			    <input type="text" placeholder="Street Address">
			    <div class="ui pointing large label">
			      Street Address
			    </div>
			  </div>
			  <div class="ui simple divider"></div>
			  <div class="field">
			    <div class="ui pointing below large label">
			      City/ Town
			    </div>
			    <input type="text" placeholder="City/ Town">
			  </div>
			  <div class="ui simple divider"></div>
			  <div class="inline field">
			    <input type="text" placeholder="Country">
			    <div class="ui pointing left large label">
			      Country
			    </div>
			  </div>

			  <div class="inline field">
			    <input type="text" placeholder="Address">
			    <div class="ui pointing left large label">
			      Address
			    </div>
			  </div>

			  <div class="ui simple divider"></div>
			  <div class="inline field">
			    <div class="ui pointing right large label">
			      Zip Code
			    </div>
			    <input type="password" placeholder="zipcode">
			  </div>
			</form>

			<center>
			<button id="add-task" type="button" class="btn btn-success buttons-top">Next
				<span class="glyphicon glyphicon-arrow-right"></span>
			</button>
			</center>

	</body>


	<script src="{{url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{url_for('static', filename='js/borderMenu.js') }}"></script>
	<script src="{{url_for('static', filename='js/jquery.label_better.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/payments.js') }}"></script>

	<script>

		var username = "{{username}}";
		console.log(username);

		$(document).on('page:fetch',   function() { NProgress.set(0.0); });
		$(document).on('page:change',  function() { NProgress.set(1.0); });

		$('#date-data').datepicker({
			format: 'mm-dd-yyyy'
		});

		$("#").label_better({
		    position: "left",
		    animationTime: 500,
		    easing: "ease-in-out",
		    offset: 20,
		    hidePlaceholderOnFocus: true
		  });

		$("#").label_better({
		    position: "left",
		    animationTime: 500,
		    easing: "ease-in-out",
		    offset: 20,
		    hidePlaceholderOnFocus: true
		  });

	    $(function() {
	        $('#task-desc').editable({inlineMode: false}, {buttons: ["bold", "italic", "underline"]});
	        $("#task-desc").editable("option", "height", 130);
	    });

	</script>

</html>