<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Errand</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-other.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/datepicker.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/pos-style.css') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/nprogress.css') }}">
        <link rel="shortcut icon" href="/static/ico/favicon/taskwetu_favicon_32.png">

        <script src="{{url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{url_for('static', filename='js/nprogress.js') }}"></script>

        <link rel="author" href="humans.txt">
    </head>
    <body>

		 <nav class="navbar navbar-default navbar-static-top" role="navigation">
  			<div class="container">
  				<a class="navbar-brand" href="/">TASKWANGU</a>
  				<ul class="nav nav-pills">
			  		<li>
			  		<button type="button" class="btn buttons-top button-botton">Delete Task
						<span class="glyphicon glyphicon-trash"></span>
					</button>
					</li>
					<li>
					<button type="button" class="btn buttons-top button-botton">Finished
						<span class="glyphicon glyphicon-ok"></span>
					</button>
					</li>

					<li>
					<button type="button" class="btn buttons-top button-botton">Change Status
						<span class="glyphicon glyphicon-retweet"></span>
					</button>
					</li>

					<li>
					<button type="button" onClick="window.location.href = '/'" class="btn btn-danger buttons-top button-botton">Log Out
						<span class="glyphicon glyphicon-log-out"></span>
					</button>
					</li>
				</ul>
  			</div>
		</nav>


		<div id="alert-all">
		</div>

		<div class="middle">

			<ul class="nav nav-pills nav-stacked">
			  <li class="active">
			    <a href="#">
			      <span id="badge-task-no" class="badge pull-right"> {{task_size}} </span>
			      Tasks Available
			    </a>
			  </li>
			</ul>

			<!-- 
			<button id="get-TaskData" class="btn btn-success btn-lg space-task" type="button">
			    Refresh
			</button>
			-->
			<div class="space-task"></div>

			<table class="table table-striped table-hover">
				<thead>
		        <tr>
		            <th>Task Title</th>
		            <th>Task Progress</th>
		            <th>Description</th>
		            <th>Track Task</th>
		        </tr>
    			</thead>
			    <tbody id="taskBody">
			    </tbody>
			</table>
			<ul class="pager">
			  <li class="previous disabled"><a href="#">&larr; Before</a></li>
			  <li class="next disabled"><a href="#">Next &rarr;</a></li>
			</ul>
		</div>

        <script src="{{url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{url_for('static', filename='js/underscore.js') }}"></script>
        <script src="{{url_for('static', filename='js/getAdminTasks.js') }}"></script>
        <script>

        	$(document).on('page:fetch',   function() { NProgress.set(0.0); });
			$(document).on('page:change',  function() { NProgress.set(1.0); });

        	$('#get-TaskData').click( function() {
			  console.log("task-data");
			  getTaskData();
			});

			getTaskData();

        </script>

    </body>
</html>