<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <title>Create &middot; Task</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/static/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/jquery.select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.slider/css/slider.css" />
    <link href="/static/js/fuelux/css/fuelux.css" rel="stylesheet">
    <link href="/static/js/fuelux/css/fuelux-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/pygments.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/js/jquery.nanoscroller/nanoscroller.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.switch/bootstrap-switch.css" />
   <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />

    <style>
      .cl-mcont {
        margin-left: 5em;
        margin-right: 5em;
      }

      .space-lower-div {
        margin-top: 20px;
      }

      .top-space-reduce {
        margin-top: 0px;
      }

      .right-space {
        margin-right: 4px;
      }

      .keep-right {
        margin-left: 32em;
      }

      .push-right {
        margin-left: 12em;
      }

      .push-right2 {
        margin-left: 17em;
      }

      .space-input-right {
        margin-left: 9.25em;
      }

      .left-right-space {
        margin-right: 25px;
        margin-left: 40px;
      }

      .space-button {
        margin-left: 36em;
      }

      .space-button-less {
        margin-left: 32em;
      }

      .space-button-less2 {
        margin-left: 34.5em;
      }

      .space-button-less3 {
        margin-left: 31.5em;
      }

      .space-button-lesser {
        margin-left: 28.4em;
      }

      .top-space {
        margin-top: 5em;
      }


    </style>

  </head>

<body>


<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Task Wetu</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">View all Tasks</a></li>
            <li><a href="#">Check Credits</a></li>
    <li class="dropdown-submenu"><a href="#">Payments</a>
      <ul class="dropdown-menu">
        <li><a href="#">Transaction history</a></li>
        <li><a href="#">Add Credits</a></li>
        </ul>
    </li>              
    </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Payments <b class="caret"></b></a>
    <ul class="dropdown-menu col-menu-2">
      <li class="col-sm-6 no-padding">
        <ul>
        <li class="dropdown-header"><i class="fa fa-group"></i>Tasks</li>
        <li><a href="#">Create new Task</a></li>
        <li><a href="#">View All Tasks</a></li>
        <li class="dropdown-header"><i class="fa fa-gear"></i>Config</li>
        <li><a href="#">Add credit</a></li>
        <li><a href="#">Check available credit</a></li>
        </ul>
      </li>
      <li  class="col-sm-6 no-padding">
        <ul>
        <li class="dropdown-header"><i class="fa fa-legal"></i>Payments</li>
        <li><a href="#">New sale</a></li>
        <li><a href="#">Register a product</a></li>
        <li><a href="#">Register a client</a></li> 
        <li><a href="#">Month sales</a></li>
        <li><a href="#">Delivered orders</a></li>
        </ul>
      </li>
    </ul>
        </li>
      </ul>
  <ul class="nav navbar-nav navbar-right user-nav">
    <li class="dropdown profile_menu">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="/static/images/avatar2.jpg" />{{username}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Notifications</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Messages</a></li>
        <li class="divider"></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </li>
  </ul>			
  <ul class="nav navbar-nav navbar-right not-nav">
    <li class="button dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class=" fa fa-comments"></i></a>
      <ul class="dropdown-menu messages">
        <li>
          <div class="nano nscroller">
            <div class="content">
              <ul>
                <li>
                  <a href="#">
                    <img src="/static/images/avatar2.jpg" alt="avatar" /><span class="date pull-right">13 Sept.</span> <span class="name">Daniel</span> I'm following you, and I want your money! 
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/static/images/avatar_50.jpg" alt="avatar" /><span class="date pull-right">20 Oct.</span><span class="name">Adam</span> is now following you 
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/static/images/avatar4_50.jpg" alt="avatar" /><span class="date pull-right">2 Nov.</span><span class="name">Michael</span> is now following you 
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="/static/images/avatar3_50.jpg" alt="avatar" /><span class="date pull-right">2 Nov.</span><span class="name">Lucy</span> is now following you 
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <ul class="foot"><li><a href="#">View all messages </a></li></ul>           
        </li>
      </ul>
    </li>
    <li class="button dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="bubble">2</span></a>
      <ul class="dropdown-menu">
        <li>
          <div class="nano nscroller">
            <div class="content">
              <ul>
                <li><a href="#"><i class="fa fa-cloud-upload info"></i><b>Daniel</b> is now following you <span class="date">2 minutes ago.</span></a></li>
                <li><a href="#"><i class="fa fa-male success"></i> <b>Michael</b> is now following you <span class="date">15 minutes ago.</span></a></li>
                <li><a href="#"><i class="fa fa-bug warning"></i> <b>Mia</b> commented on post <span class="date">30 minutes ago.</span></a></li>
                <li><a href="#"><i class="fa fa-credit-card danger"></i> <b>Andrew</b> killed someone <span class="date">1 hour ago.</span></a></li>
              </ul>
            </div>
          </div>
          <ul class="foot"><li><a href="#">View all activity </a></li></ul>           
        </li>
      </ul>
    </li>
    <li class="button"><a href="javascript:;" class="speech-button"><i class="fa fa-microphone"></i></a></li>				
  </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>


<div id="cl-wrapper">
  <div class="container-fluid" id="pcont">
    <div class="cl-mcont">		
    <div class="row wizard-row">
      <div class="col-md-12 fuelux">
        
        <div class="block-wizard">
          <div id="wizard1" class="wizard wizard-ux">
            <ul class="steps">
              <li data-target="#step1" class="active">Step 1<span class="chevron"></span></li>
              <li data-target="#step2">Step 2<span class="chevron"></span></li>
              <li data-target="#step3">Step 3<span class="chevron"></span></li>
            </ul>
            <div class="actions">
              <button type="button" class="btn btn-xs btn-prev btn-default"> <i class="icon-arrow-left"></i>Prev</button>
              <button type="button" class="btn btn-xs btn-next btn-default" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
            </div>
          </div>
          <div class="step-content">
            <form class="form-horizontal group-border-dashed" action="#" data-parsley-namespace="data-parsley-" data-parsley-validate novalidate>

              <div class="step-pane active" id="step1">

                <!-- panel 1 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="panel-group accordion accordion-semi" id="accordion3">

                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion3" href="#ac3-1">
                          <i class="fa fa-angle-right"></i> Home Package
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-1" class="panel-collapse collapse in">
                        <div class="panel-body">
                               <!-- body on panel -->
                               House Cleaning
                               <button type="button" id="getHouse" class="btn btn-xs space-button"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>

                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-2">
                          <i class="fa fa-angle-right"></i> Bills per account owner (e.g electricity, rent, water)
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-2" class="panel-collapse collapse">
                        <div class="panel-body">
                        <!-- body on panel -->
                           Electicity paybill 
                           <button id="getBill" type="button" class="btn btn-xs space-button"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>

                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-13">
                          <i class="fa fa-angle-right"></i> Document Procurement (eg. Visa, Passport)
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-13" class="panel-collapse collapse">
                        <div class="panel-body">
                        <!-- body on panel -->
                           Passport Processing
                           <button id="getProcurement" type="button" class="btn btn-xs space-button-less"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>


                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-3">
                          <i class="fa fa-angle-right"></i> Access to translators
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Add a Translator
                           <button id="getTranslators" type="button" class="btn btn-xs space-button-less2"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>


                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-10">
                          <i class="fa fa-angle-right"></i> Corporate Package (eg. City council, KRA)
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-10" class="panel-collapse collapse">
                        <div class="panel-body">
                           Document Procurement
                           <button id="corporatePackages" type="button" class="btn btn-xs space-button-less3"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>


                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-4">
                          <i class="fa fa-angle-right"></i> Booking Services (eg. venues, hotels)
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Book a venue, hotels, tents etc
                           <button id="getBooking" type="button" class="btn btn-xs space-button-lesser"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>

                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-12">
                          <i class="fa fa-angle-right"></i> Clearance
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-12" class="panel-collapse collapse">
                        <div class="panel-body">
                            Clearing and forwarding
                           <button id="getClearance" type="button" class="btn btn-xs space-button-less3"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>


                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-5">
                          <i class="fa fa-angle-right"></i> Shopping
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-5" class="panel-collapse collapse">
                        <div class="panel-body">
                            Let Us shop for You
                           <button id="getShopping" type="button" class="btn btn-xs space-button-less3"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>

                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-6">
                          <i class="fa fa-angle-right"></i> Property management
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-6" class="panel-collapse collapse">
                        <div class="panel-body">
                           Rent Collection, Rates
                           <button id="getProperty" type="button" class="btn btn-xs space-button-less"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>

                      <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-14">
                          <i class="fa fa-angle-right"></i> Other Task
                        </a>
                        </h4>
                      </div>
                      <div id="ac3-14" class="panel-collapse collapse">
                        <div class="panel-body">
                          <div class="form-group">
                            <label class="col-sm-3 control-label">Nature of Task</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" placeholder="How would you classify your Task?">
                            </div>
                          </div>
                          <button type="button" class="btn btn-xs"><i class="fa fa-plus-circle fa-lg"></i> Add
                        </div>
                      </div>
                      </div>

                    </div>
                  </div>


                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="header">
                      <h3>Your Order</h3>
                  </div>
                  <div class="content">
                    <table class="no-border">
                      <thead class="no-border">
                        <tr>
                          <th style="width:50%;">Task</th>
                          <th>Number</th>
                          <th class="text-right">Amount</th>
                          <th style="width:15%;" class="text-center"><strong>Remove</strong></th>
                        </tr>
                      </thead>
                      <tbody id="order-table" class="no-border-x no-border-y">

                      </tbody>
                    </table>

                    <div id="alert-div">
                    
                    </div>

                    <div id="alert-price">
                      <div class="list-group tickets top-space">
                          <li href="#" class="list-group-item">Total<span value="10" class="badge badge-success">$10</span></li>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default">Cancel</button>
                    <button data-wizard="#wizard1" class="btn btn-primary wizard-next">Next Step <i class="fa fa-caret-right"></i></button>
                  </div>
                </div>

              </div>

              <div class="step-pane" id="step2">

                <div class="form-group no-padding">
                  <div class="col-sm-7">
                    <h3 class="hthin">Create Task</h3>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Task Title</label>
                  <div class="col-sm-6">
                    <input id="taskTitle-data" type="text" class="form-control" placeholder="Task Title">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Task Description</label>
                  <div class="col-sm-6">
                    <textarea id="task-desc" rows="6" class="form-control" placeholder="Please describe the task you want to be undertaken"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Location</label>
                  <div class="col-sm-6">
                    <input id="locationData" class="tags" type="hidden" placeholder="I&M House UpperHill Nairobi" value="" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Contact Person(s)</label>
                  <div class="col-sm-6">
                     <input id="contactPersons" class="tags" type="hidden" placeholder="contact name and number" value="" />
                  </div>
                </div>

                <!--  
                <div class="form-group">
                  <label class="col-sm-3 control-label">Due Date</label>
                  <div class="col-sm-6">
                    <div class="input-group date datetime col-md-5 col-xs-7" data-start-view="2" data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd - HH:ii" data-link-field="dtp_input1">
                      <input class="form-control" size="16" type="text" value="" />
                      <span class="input-group-addon btn btn-primary"><span class="glyphicon glyphicon-th"></span></span>
                    </div>              
                  </div>
                </div>
                -->

                <div class="form-group">

                 <div class="col-sm-6">
                  <label class="col-sm-3 control-label push-right">Due Date</label>
                  <div id="reportrange" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                     <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> 
                     <span></span> <b class="caret"></b>
                  </div>
                 </div>

                 <div class="col-sm-6">
                    <label class="checkbox-inline space-input-right"> <input id="urgent-data" type="checkbox" checked="" name="rad1" class="icheck">   Task is Urgent</label>
                 </div>

                </div>

    
                <div class="form-group">
                  <div class="col-sm-12 push-right2">
                    <button data-wizard="#wizard1" class="btn btn-default wizard-previous"><i class="fa fa-caret-left"></i> Previous</button>

                    <button data-wizard="#wizard1" class="btn btn-primary wizard-next">Next Step <i class="fa fa-caret-right"></i></button>
                    </div>
                  </div>
              </div>

              <!-- STEP 3 -->
              <div class="step-pane" id="step3">

                <div class="form-group no-padding">
                    <div class="col-sm-7">
                      <h3 class="hthin">Place Order</h3>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 space-lower-div">
                  <div class="block-flat">
                    <div class="content">
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Choose Payment Method</label>
                          <div class="col-sm-6">
                          <select class="select2">
                             <optgroup label="MPESA">
                               <option value="MPESA">Mpesa</option>
                             </optgroup>
                             <optgroup label="Electronic Cards">
                               <option value="VISA">VISA</option>
                               <option value="MasterCard">MasterCard</option>
                             </optgroup>
                            </select>
                          </div>
                        </div>

                      <div class="form-group">
                        <div class="col-sm-6">
                          <label class="control-label">Buy Credits: <span id="credits">$0</span></label>
                          <p>This option allow you to buy an amount of credits.</p>
                          <input id="credit_slider" type="text" class="bslider form-control" value="0" />
                        </div>
                      </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6 space-lower-div">
                <div class="block-flat">
                  <div class="content">
                    <div class="block-flat">
                      <div class="header">
                        <h3>Your Ordered Tasks</h3>
                      </div>
                      <div class="content">
                    <table class="no-border">
                      <thead class="no-border">
                        <tr>
                          <th style="width:50%;">Task</th>
                          <th>Number</th>
                          <th class="text-right">Amount</th>
                          <th style="width:15%;" class="text-center"><strong>Remove</strong></th>
                        </tr>
                      </thead>
                      <tbody id="order-table2" class="no-border-x no-border-y">

                      </tbody>
                    </table>

                    <div id="alert-div">
                    
                    </div>

                    <div id="alert-price">
                      <div class="list-group tickets top-space">
                          <li href="#" class="list-group-item">Total<span value="10" class="badge badge-success">$10</span></li>
                      </div>
                    </div>

                  </div>
                      </div>
                  </div>
                </div>
              </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <button data-wizard="#wizard1" class="btn btn-default wizard-previous"><i class="fa fa-caret-left"></i> Previous</button>
                    <button id="completeAll" data-wizard="#wizard1" class="btn btn-success wizard-next"><i class="fa fa-check"></i> Complete</button>
                  </div>
                </div>

              </div>

            </form>
          </div>
        </div>

      </div>
    </div>
    
    </div>
  </div>
</div>

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery.select2/select2.min.js" type="text/javascript"></script>
  <script src="/static/js/jquery.parsley/dist/parsley.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.slider/js/bootstrap-slider.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/js/fuelux/loader.min.js"></script>	
  <script src="/static/js/modernizr.js" type="text/javascript"></script>
  <script type="text/javascript" src="/static/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.switch/bootstrap-switch.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.nestable/jquery.nestable.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.daterangepicker/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="/static/js/behaviour/general.js"></script>
  <script src="/static/js/jquery.ui/jquery-ui.js" type="text/javascript"></script>
  
  <script src="/static/js/fillTable.js"></script>
  <script src="{{url_for('static', filename='js/task-ops.js') }}"></script>
  
  <script type="text/javascript">
    $("#credit_slider").slider().on("slide",function(e) {
      $("#credits").html("$" + e.value);
    });
    $("#rate_slider").slider().on("slide",function(e) {
      $("#rate").html(e.value + "%");
    });

    var username = "{{username}}";
    console.log(username);

    $(document).ready(function() {
      //initialize the javascript
      App.init();
      App.wizard();

      $('#reservation').daterangepicker();
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        format: 'MM/DD/YYYY h:mm A'
      });

    });

  </script>
  
  <script src="/static/js/behaviour/voice-commands.js"></script>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
