<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>New Task</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="shortcut icon" href="favicon.ico">

		<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/froala_editor.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/nprogress.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">


		<link rel="stylesheet" href="{{url_for('static', filename='css/datepicker.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/icons.css') }}">

		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/menu.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/menu-style.css') }}">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />

		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/froala_editor.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/modernizr.custom.js') }}"></script>
		<script src="{{url_for('static', filename='js/jquery.noty.packaged.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/nprogress.js') }}"></script>
		<script src="{{url_for('static', filename='js/jquery.noty.packaged.min.js') }}"></script>

	</head>

	<body>

		<div class="container">
			<nav id="bt-menu" class="bt-menu">
				<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
				<ul>
					<li><a href="/tasks/{{username}}/">New task</a></li>
					<li><a href="/allTasks/{{username}}/">All Tasks</a></li>
					<li><a href="/profile/{{username}}/">Profile</a></li>
					<li><a href="/payments/{{username}}/">Payments</a></li>
					<li><a href="/logout/{{username}}/">Logout</a></li>
				</ul>
			</nav>
		</div><!-- /container -->

		<div class="middle">

			<label><strong class="text-outer">Task Title</strong></label>
			<input type="text" class="form-control little" id="taskTitle-data" placeholder="Task Title">

			<label><strong class="text-outer">Task Description  </strong></label>
			<textarea id="task-desc" placeholder="Task Description" class="form-control little" rows="3"></textarea>


			<strong class="text-outer">Category of Task? </strong>

			<select id="category-data" class="form-control little">
				<option>Visa Processing</option>
				<option>Market Info</option>
				<option>Land</option>
				<option>Real Estate</option>
				<option>Other</option>
			</select>

			<div class="well little">
				<label class="text-outer">
					<input id="urgent-data" type="checkbox" value="High Priority">
					Task is urgent
				</label>
			</div>

			<strong class="text-outer">Task Due Date</strong>
			<div class="text-outer little">
            	<input type="text" class="form-control span2 text-outer" value="16-6-2014" id="date-data" >
          	</div>

          	<div class="well">
				<button id="add-task" type="button" class="btn btn-success buttons-top">Update Task
					<span class="glyphicon glyphicon-plus"></span>
				</button>

				<button id="clear-all" type="button" class="btn btn-warning buttons-top">Clear
					<span class="glyphicon glyphicon-remove"></span>
				</button>

				<button id="delete-data" type="button" class="btn btn-danger buttons-top">Delete Task
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>

		</div>

	</body>


	<script src="{{url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{url_for('static', filename='js/borderMenu.js') }}"></script>
	<script src="{{url_for('static', filename='js/jquery.label_better.min.js') }}"></script>
	<script src="{{url_for('static', filename='js/taskUpdate.js') }}"></script>

	<script>

		var username = "{{username}}";

	   	var task_id = "{{task_id}}";
	 	var task_desc = "{{task_desc}}";
	    var due_date = "{{due_date}}";
	    var task_title = "{{task_title}}";

	    $('#task-desc').val(task_desc);
	    $('#date-data').val(due_date);
	    $('#taskTitle-data').val(task_title);

	  	console.log(username);
	  	console.log(task_id);

		console.log(username);

		$(document).on('page:fetch',   function() { NProgress.set(0.0); });
		$(document).on('page:change',  function() { NProgress.set(1.0); });

		$('#date-data').datepicker({
			format: 'mm-dd-yyyy'
		});

		$("#").label_better({
		    position: "left",
		    animationTime: 500,
		    easing: "ease-in-out",
		    offset: 20,
		    hidePlaceholderOnFocus: true
		  });

		$("#").label_better({
		    position: "left",
		    animationTime: 500,
		    easing: "ease-in-out",
		    offset: 20,
		    hidePlaceholderOnFocus: true
		  });

	    $(function() {
	        $('#task-desc').editable({inlineMode: false}, {buttons: ["bold", "italic", "underline"]});
	        $("#task-desc").editable("option", "height", 130);
	    });

	</script>

</html>